
 *{
 	margin-top: 0;
 	margin-bottom: 0;
 }

 html ,body{
 font-family: 'Bad Script', cursive;
 }

 .content{
 	display: flex;
 	height: 100%;
 	flex-direction:column;
 	align-content:space-around;
 	flex-wrap:wrap;
    align-items:center;

 	background: red;
 }

.hedar{

	width: 1050px;
	height: 380px;
	margin: 30px;
}

.hedar_title{

	width: 1050px;
	height: 380px;
	border-width: 4px;
	border-color: #228B22;
	border-style: solid;
	background: #0000FF;

}
    .hedar_arrou{
    height: 100%;
    width: 38%;
    float:left;
    }

    
   .text{
    width: 62%;
    height: 100%;
    float: left;
     text-align: center;
    background: #FFFF00;
}

h1{
	background: #FF00FF;
}

p{
	background: #00FFFF;
}


