
 *{
 	margin-top: 0;
 	margin-bottom: 0;
 }

 html ,body{
 font-family: 'Bad Script', cursive;
 }

img{
	display: inline-block;
}

.content{
width: 70%;
height: 380px;
background-position: center;
background: #FF0000;	
}